@import 'tailwindcss';

body {
  font-family: var(--font-sans); /* 自定义字体 */
  background-color: var(--color-slate-50); /* 自定义背景颜色 */
  color: var(--color-slate-800); /* 自定义文本颜色 */
}

a {
  color: var(--color-blue-600);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--color-blue-400);
  }

  &:visited {
    color: var(--color-blue-600);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--color-slate-900);
}

h1 {
  font-size: var(--text-4xl);
  margin-bottom: var(--space-4);
}

h2 {
  font-size: var(--text-3xl);
  margin-bottom: var(--space-3);
}

h3 {
  font-size: var(--text-2xl);
  margin-bottom: var(--space-2);
}

h4 {
  font-size: var(--text-xl);
  margin-bottom: var(--space-2);
}

h5 {
  font-size: var(--text-lg);
  margin-bottom: var(--space-1);
}

h6 {
  font-size: var(--text-base);
  margin-bottom: var(--space-1);
}
